:root {
  --gray: #EFEFEF;
  --accent: #66C05D;
  --dark: #333333;
  --width: 1140px;
  --padding-horizontal: 15px;
}

@font-face {
  font-family: "Roboto";
  src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: unset;
  color: unset;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration-skip-ink: none;
}

.navigation {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navigation__item {
  padding: 16px 15px;
  font-size: 14px;
  color: var(--dark);
  line-height: 18px;
}
.navigation__item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__first-line, .header__second-line {
  width: 100%;
  max-width: var(--width);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header__first-line {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 672px) {
  .header__first-line {
    justify-content: center;
  }
}
.header__second-line {
  justify-content: center;
}
.header__separator {
  border-bottom: 1px solid var(--gray);
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__icon {
  background-image: url("asserts/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width: 80px;
}
.logo__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--accent);
  user-select: none;
}

.callback-info {
  display: flex;
  align-items: baseline;
  gap: 40px;
}
@media screen and (max-width: 342px) {
  .callback-info {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.callback-info__phone {
  font-size: 16px;
  flex-shrink: 0;
}
.callback-info__action {
  width: 170px;
}

.button {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 24px;
  border: 2px solid;
  border-color: var(--accent);
  border-radius: 40px;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
}
.button:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: white;
  transition: background-color, color;
  transition-duration: 0.2s;
}
.button:hover:has(.button__icon) {
  background-color: unset;
}
.button_inverted {
  border-color: white;
  color: white;
  background-color: var(--accent);
}
.button_inverted:hover {
  background-color: white;
  color: var(--accent);
}
.button_filled {
  color: white;
  background-color: var(--accent);
}
.button_filled:hover {
  background-color: white;
  color: var(--accent);
}
.button_circle {
  border-radius: 100%;
  padding: 0;
}
.button__icon {
  width: 26px;
  height: 26px;
  margin: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  font-size: 16px;
  padding: 30px 20px;
}
.menu__item:hover {
  background-color: var(--gray);
  cursor: pointer;
  transition: background-color;
  transition-duration: 0.2s;
}

.sale {
  height: 604px;
  background-color: var(--accent);
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sale__container {
  width: 100%;
  max-width: var(--width);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .sale__container {
    justify-content: center;
  }
}
.sale__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 308px;
  flex-shrink: 0;
  z-index: 1;
}
@media screen and (max-width: 308px) {
  .sale__info {
    max-width: unset;
    flex-shrink: 1;
  }
}
.sale__caption {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.sale__description {
  font-size: 14px;
  line-height: 20px;
}
.sale__action {
  width: 170px;
}
@media screen and (max-width: 768px) {
  .sale__action {
    align-self: center;
  }
}
.sale__picture {
  width: 584px;
  height: 584px;
  padding: 46px;
  margin-top: 20px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 768px) {
  .sale__picture {
    background-color: unset;
    padding: 0;
  }
}
.sale__picture-wrapper {
  padding: 90px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3019607843);
  position: sticky;
  right: -136px;
}
@media screen and (max-width: 768px) {
  .sale__picture-wrapper {
    position: absolute;
    background-color: unset;
    display: flex;
    justify-content: center;
    padding: 0;
    left: 0;
    right: 0;
  }
  .sale__picture-wrapper::before {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.6);
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.goods {
  background-color: var(--gray);
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
}
.goods__container {
  width: 100%;
  max-width: var(--width);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.goods__caption {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 100%;
}
.goods__items {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 -15px;
}
.goods__item {
  --good-item_columns: 4;
  width: calc(100% / var(--good-item_columns) - 30px);
  margin: 0 15px 30px;
  box-sizing: border-box;
  min-width: 200px;
}
@media screen and (max-width: 934px) {
  .goods__item {
    --good-item_columns: 3;
  }
}
@media screen and (max-width: 704px) {
  .goods__item {
    --good-item_columns: 2;
  }
}
@media screen and (max-width: 472px) {
  .goods__item {
    --good-item_columns: 1;
  }
}

.good {
  background-color: white;
  padding: 25px 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.good__picture {
  width: 125px;
  height: 166px;
  flex-shrink: 0;
}
.good__description {
  font-size: 14px;
  line-height: 20px;
  color: var(--dark);
  flex-grow: 1;
}
.good__price {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  flex-shrink: 0;
}
.good__action {
  flex-shrink: 0;
}

.additional-info {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  padding: 0 0 132px;
}
.additional-info__container {
  width: 100%;
  max-width: var(--width);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.additional-info__item {
  background-color: var(--accent);
  color: white;
  width: calc(50% - 15px);
  min-width: 482px;
  display: flex;
  padding: 35px 45px 35px 40px;
  gap: 65px;
  box-sizing: border-box;
}
@media screen and (max-width: 482px) {
  .additional-info__item {
    min-width: unset;
    width: 100%;
    justify-content: center;
  }
}
.additional-info__item-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 250px;
  min-width: 225px;
}
.additional-info__item-caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.additional-info__item-description {
  font-size: 14px;
  line-height: 20px;
}
.additional-info__item-picture {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 482px) {
  .additional-info__item-picture {
    display: none;
  }
}
.additional-info__item-picture_email {
  background-image: url("asserts/Group.svg");
  height: 140px;
  width: 140px;
}
.additional-info__item-picture_car {
  background-image: url("asserts/x36  8.svg");
  height: 140px;
  width: 188px;
}

.input {
  color: var(--dark);
  border-radius: 30px;
  background-color: white;
  outline: none;
  border: none;
  padding: 9px 9px 9px 25px;
  font-size: 14px;
  line-height: 16px;
}

.footer__first-line, .footer__second-line {
  display: flex;
  justify-content: center;
}
.footer__first-line {
  padding: 38px 0;
  font-size: 14px;
  line-height: 16px;
}
.footer__second-line {
  text-align: center;
  background-color: var(--gray);
  padding: 25px 0;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
.footer__container {
  width: 100%;
  max-width: var(--width);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 912px) {
  .footer__container {
    justify-content: center;
  }
}
.footer__socials {
  align-self: center;
  justify-content: center;
}
.footer__confidential:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/*# sourceMappingURL=style.css.map */
